
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 239, 239);
}

.container {
    margin: auto;
    max-width: 1366px;
    flex-wrap: wrap;
}

p {
    margin: 10px;
    line-height: 1.5;
    padding: 0;
}

.blue {
    color: cadetblue;
    font: bold;
}

h3 {
    font-weight: normal;
}

h2 {
    text-align: center;
    line-height: 1.5;
}

.h2bottom {
    text-align: center;
    margin-top: 80px;
    line-height: 1.5;
}

.ulnav {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.ulnav > li {
    margin-right: 20px;
}

.ulnav > li > button {
    font-weight: 1000;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

select {
    font-weight: 1000;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec {
    padding: 20px 2px;
    background-color: rgb(239, 239, 239);
}

.block {
    background-color: white;
    width: 23%;
    margin: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: auto;
    padding: 10px;
    word-wrap: break-word;
}

.photo-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.photo {
    height: auto;
    width: 100%;
    max-width: 200px;
    max-height: 150px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.bigphoto {
    height: auto;
}

.luxoft {
    width: 45%;
    margin-right: 20px;
    float: left;
}

